.secondSection .languages{
    margin-top: 100px;
    background-color: rgba(48, 46, 46, 0);
    margin: 10px 50px;
    align-items: center;
    justify-content: center;
}
.secondSection .languages h2{
    font-size: 2rem;
    margin: 5% 45%;
    margin-top: 5%;
}
.imagerow1{
    display: flex;
    width: 35%;
    margin: 0% 30%;
    align-items:center;
    justify-content: space-around;
}
.imagerow1 img{
    
    margin-left:70%;
    width: 20%;

}
.imagerow1 #c{
    width: 23%;
    margin-left:30%;
}
.imagerow1 #python{
    width: 50%;
    margin-left: 80%;
}
.imagerow1 #java{
    width: 40%;
    margin-left: 90%;
}
.imagerow2{
    display: flex;
    width: 35%;
    margin: 0% 29%;
    align-items:center;
    justify-content: space-around;
}
.imagerow2 img{
    
    margin-left:50%;
    width: 50%;

}
.imagerow2 #js{
    width: 38%;
    margin-left:25%;
}
.imagerow2 #mojo{
    width: 30%;
    margin-left:90%;
}
.imagerow2 #ts{
    width: 36%;
    margin-left:90%
}
.secondSection .Mathematics h2{
    height: 50px;
    font-size: 2rem;
    margin: 10% 0.5%;
    margin-bottom: 0;

}
.Mathematics .msub{
    
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.Mathematics .msub li{
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    text-decoration:solid;
    

}
.box0{
    background: white;
    width: 80vw;
    height: 2px;
    margin-left: 2px;
    animation: box 2s linear infinite;
}
.box{
    background: white;
    width: 80vw;
    height: 2px;
    margin-left: 2px;
    animation: box 2s linear infinite;
}
@keyframes box{
    0% {
        background-color: aquamarine;
    }
    25%{background-color: white;}
    50%{
        background-color: violet;
    }
    75%{
        background-color: cyan;

    }
    100%{
        background-color: white;
    }
}
.datascienceandml{
    margin-top: 100px;
}
.datascienceandml h2{
    font-size: 2rem;
}
.datascienceandml .row1{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    opacity: 0.8;
}
#mern{
    height: 90px;
    padding: 20px 20px;
    
}
#django{
    height: 100px;
    width: 180px;
    
}
#aws{
    height: 100px;
    
}
#sql{
    height: 100px;
    
}
#TF{
    height: 100px;
    
    background-color: rgba(255, 255, 255, 0.064);
    border-radius: 2rem;
}
#numpy{
    height: 90px;

}